.l-box-lrg.is-center.pure-u-1.pure-u-md-1-2.pure-u-lg-2-5
  img.pure-img-responsive(alt='File Icons', width='300', src='img/common/file-icons.png')
.pure-u-1.pure-u-md-1-2.pure-u-lg-3-5
  h2.content-head.is-center Sign Up
  .l-box-lrg.pure-u-1.pure-u-md-2-5
    form.pure-form.pure-form-stacked(action='#')
      fieldset
        label(for='first_name') Your First Name
        input#first_name(type='text', placeholder='Your First Name')
        label(for='last_name') Your Last Name
        input#last_name(type='text', placeholder='Your Last Name')
        label(for='email') Your Email
        input#email(type='email', placeholder='Your Email')
        label(for='score_threshold') Your Minimum Score Threshold
        input#password(type='text', placeholder='0.0 to 10.0 -- this is the lowest scoring review you wish to be notified about')
        button.pure-button(type='submit') Subscribe