h2.content-head.is-center Daily Music Score Average
.pure-g
  .l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
    h3.content-subhead
      i.fa.fa-rocket
      | 2014
    p
      | Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
  .l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
    h3.content-subhead
      i.fa.fa-mobile
      | 2013
    p
      | Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
  .l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
    h3.content-subhead
      i.fa.fa-th-large
      | 2012
    p
      | Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
  .l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
    h3.content-subhead
      i.fa.fa-check-square-o
      | 2011
    p
      | Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
