.home-menu.pure-menu.pure-menu-open.pure-menu-horizontal.pure-menu-fixed
    a.pure-menu-heading(href='#') Pitchfork Metrics
    ul.pure-u-lg-1-1
      li.pure-u-lg-1-6.pure-menu.another-day-menu
        input(type='text').date-field
      li.pure-menu.pure-menu-selected.pure-u-lg-1-6
        a(href='#').latest-link Latest
      li.pure-menu
        a(href='#subscribe').pure-u-lg-1-6 Subscribe