.home-menu.pure-menu.pure-menu-open.pure-menu-horizontal.pure-menu-fixed
    a.pure-menu-heading(href='#') Pitchfork Metrics
    ul.pure-u-lg-1-1
      li.pure-menu-selected.pure-u-lg-1-6
        a(href='#day') Today
      li.pure-u-lg-1-6
        input(type='text',placeholder='Another Day')#date-picker.date-picker
        button#choose-date
      li
        a(href='#subscribe').pure-u-lg-1-6 Subscribe