.home-menu.pure-menu.pure-menu-open.pure-menu-horizontal.pure-menu-fixed
    a.pure-menu-heading(href='#') Day For Music
    ul
      li.pure-menu-selected
        a(href='#') Home
      li
        a(href='#') Years
      li
        a(href='#') Subscribe