.home-menu.pure-menu.pure-menu-open.pure-menu-horizontal.pure-menu-fixed
    a.pure-menu-heading(href='#') Pitchfork Metrics
    ul
      li.pure-menu-selected
        a(href='#day') Today
      li
        a(href='#years') Yesterday
      li
        a(href='#subscribe') Subscribe