.home-menu.pure-menu.pure-menu-open.pure-menu-horizontal.pure-menu-fixed
    a.pure-menu-heading(href='#') Pitchfork Metrics
    ul.pure-u-1-3
      li.pure-u-1-3.pure-menu.another-day-menu
        input(type='text').date-field.pure-u-1-1
      li.pure-menu.pure-menu-selected.pure-u-1-3
        a(href='#').latest-link.pure-u-1-1 Latest
      li.pure-menu
        a(href='#subscribe').pure-u-1-1 Subscribe
